@charset "utf-8";
/* CSS Document */
html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: transparent;
}
html,body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
					
}/*这里是关键*/
/*@-ms-viewport {
  width: device-width;
}*/
.wrap-box {
	width: 1124px;
	height: auto;
	background-color: #f7f7f7;
}
.firstRow{
	
}